@model IEnumerable<FarmerSupport.Models.FarmerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sunlight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectricalConducitvity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rainfall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Past3Months)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Next3Months)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sunlight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectricalConducitvity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rainfall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Past3Months)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Next3Months)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FarmerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FarmerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FarmerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
